<div id="Web_1920__1" class="container">
    <img id="Image_10" src="assets/images/home/Image_10.png" srcset="assets/images/home/Image_10.png 1x, assets/images/home/Image_10@2x.png 2x">

    <img id="Image_11" src="assets/images/home/Image_11.png" srcset="assets/images/home/Image_11.png 1x, assets/images/home/Image_11@2x.png 2x">

    <img id="Color_Fill_5" src="assets/images/home/Color_Fill_5.png" srcset="assets/images/home/Color_Fill_5.png 1x, assets/images/home/Color_Fill_5@2x.png 2x">

    <img id="Color_Fill_5_j" src="assets/images/home/Color_Fill_5_j.png" srcset="assets/images/home/Color_Fill_5_j.png 1x, assets/images/home/Color_Fill_5_j@2x.png 2x">

    <svg class="Rectangle_5">
        <rect id="Rectangle_5" rx="59" ry="59" x="0" y="0" width="335" height="379">
        </rect>
    </svg>
    <svg class="Rectangle_9">
        <rect id="Rectangle_9" rx="59" ry="59" x="0" y="0" width="335" height="379">
        </rect>
    </svg>
    <div id="Hzl_ve_Gvenli_Tayc">
        <span>Hızlı ve Güvenli<br />Taşıyıcı</span>
    </div>
    <div id="Balk_Yazs">
        <span>Başlık Yazısı</span>
    </div>
    <div id="Saylar_le_Gtrbunucom">
        <span>Sayılar İle Götürbunu.com</span>
    </div>
    <div id="Hizmetlerimiz">
        <span>Hizmetlerimiz</span>
    </div>
    <div id="Referanslarmz">
        <span>Referanslarımız</span>
    </div>
    <div id="Hzl_Teslimat">
        <span>Hızlı Teslimat</span>
    </div>
    <div id="Anlk_Takip">
        <span>Anlık Takip</span>
    </div>
    <div id="Raporlama">
        <span>Raporlama</span>
    </div>
    <div id="Dk_Maliyet">
        <span>Düşük Maliyet</span>
    </div>
    <div id="Ticari_Paket_Fiyatlar">
        <span>Ticari Paket Fiyatları</span>
    </div>
    <div id="n_0_KURYE">
        <span>50+<br />KURYE</span>
    </div>
    <div id="n_0_DKKAN">
        <span>50+<br />DÜKKAN</span>
    </div>
    <div id="Anasayfa">
        <span>Anasayfa</span>
    </div>
    <div id="Hakkmzda">
        <span>Hakkımızda</span>
    </div>
    <div id="Hizmetlerimiz_">
        <span>Hizmetlerimiz</span>
    </div>
    <div id="Referanslar">
        <span>Referanslar</span>
    </div>
    <div id="letiim">
        <span>İletişim</span>
    </div>
    <div id="Kurye_Hizmeti_Al">
        <span>Kurye Hizmeti Al</span>
    </div>
    <div id="Kurye_Ol" [routerLink]="'/carrier-application'">
        <span>Kurye Ol</span>
    </div>
    <div id="ye_Girii" [routerLink]="'/admin'">
        <span>Üye Girişi</span>
    </div>
    <svg class="Rectangle_1" [routerLink]="'/store-application'">
        <rect id="Rectangle_1" rx="25" ry="25" x="0" y="0" width="198" height="50">
        </rect>
    </svg>
    <svg class="Rectangle_2" [routerLink]="'/carrier-application'">
        <rect id="Rectangle_2" rx="25" ry="25" x="0" y="0" width="185" height="50">
        </rect>
    </svg>
    <svg class="Rectangle_4" [routerLink]="'/sign-in'">
        <rect id="Rectangle_4" rx="25" ry="25" x="0" y="0" width="185" height="50">
        </rect>
    </svg>
    <img id="zyro-image_3_kopya" src="assets/images/home/zyro-image_3_kopya.png"
        srcset="assets/images/home/zyro-image_3_kopya.png 1x, assets/images/home/zyro-image_3_kopya@2x.png 2x">

    <img id="n_5917786_2203_w037_n003_277a_" src="assets/images/home/n_5917786_2203_w037_n003_277a_.png"
        srcset="assets/images/home/n_5917786_2203_w037_n003_277a_.png 1x, assets/images/home/n_5917786_2203_w037_n003_277a_@2x.png 2x">

    <div id="Group_1">
        <svg class="Ellipse_1">
            <ellipse id="Ellipse_1" rx="14" ry="14" cx="14" cy="14">
            </ellipse>
        </svg>
        <svg class="Ellipse_2">
            <ellipse id="Ellipse_2" rx="14" ry="14" cx="14" cy="14">
            </ellipse>
        </svg>
        <svg class="Ellipse_3">
            <ellipse id="Ellipse_3" rx="14" ry="14" cx="14" cy="14">
            </ellipse>
        </svg>
    </div>
    <div id="Group_2">
        <svg class="Path_1" viewBox="0 0 28 28">
            <path id="Path_1"
                d="M 14 0 C 21.73198509216309 0 28 6.268014430999756 28 14 C 28 21.73198509216309 21.73198509216309 28 14 28 C 6.268014430999756 28 0 21.73198509216309 0 14 C 0 6.268014430999756 6.268014430999756 0 14 0 Z">
            </path>
        </svg>
        <svg class="Ellipse_2_bh">
            <ellipse id="Ellipse_2_bh" rx="14" ry="14" cx="14" cy="14">
            </ellipse>
        </svg>
        <svg class="Ellipse_3_bi">
            <ellipse id="Ellipse_3_bi" rx="14" ry="14" cx="14" cy="14">
            </ellipse>
        </svg>
    </div>
    <div id="Bir_paragraf_bir_yazda_konu_ve">
        <span>Bir paragraf, bir yazıda konu veya düşünce açısından bütünlük oluşturan, bir veya birden fazla cümleyi
            içeren bir metin bloğudur. Paragraflar, yazıda okuyucunun zihinsel olarak nefes almasına olanak tanır ve
            yazının anlaşılması ve okunması kolaylaştırır. Bir paragraf, genellikle bir fikri veya düşünceyi ifade etmek
            için kullanılır ve yazının yapı taşlarından biridir. İyi bir paragraf, açık ve net bir konuya sahip olmalı,
            doğru ve anlaşılır dil kullanmalı, mantıksal bir sıraya sahip olmalı ve okuyucunun ilgisini çekecek bir
            içeriği olmalıdır.</span>
    </div>
    <div id="Group_4">
        <svg class="Rectangle_10">
            <rect id="Rectangle_10" rx="59" ry="59" x="0" y="0" width="335" height="379">
            </rect>
        </svg>
        <div id="n_0KM_YOL">
            <span>50KM<br />YOL</span>
        </div>
    </div>
    <div id="Group_3">
        <svg class="Rectangle_11">
            <rect id="Rectangle_11" rx="59" ry="59" x="0" y="0" width="335" height="379">
            </rect>
        </svg>
        <div id="n_00_TESLMAT">
            <span>100+<br />TESLİMAT</span>
        </div>
    </div>
    <img id="pngwingcom" src="assets/images/home/pngwingcom.png" srcset="assets/images/home/pngwingcom.png 1x, assets/images/home/pngwingcom@2x.png 2x">

    <img id="salary-14745" src="assets/images/home/salary-14745.png" srcset="assets/images/home/salary-14745.png 1x, assets/images/home/salary-14745@2x.png 2x">

    <img id="store-1977" src="assets/images/home/store-1977.png" srcset="assets/images/home/store-1977.png 1x, assets/images/home/store-1977@2x.png 2x">

    <img id="fast-food-delivery-12983_1" src="assets/images/home/fast-food-delivery-12983_1.png"
        srcset="assets/images/home/fast-food-delivery-12983_1.png 1x, assets/images/home/fast-food-delivery-12983_1@2x.png 2x">

    <img id="laptop-student-12651" src="assets/images/home/laptop-student-12651.png"
        srcset="assets/images/home/laptop-student-12651.png 1x, assets/images/home/laptop-student-12651@2x.png 2x">

    <img id="file-1453_2" src="assets/images/home/file-1453_2.png" srcset="assets/images/home/file-1453_2.png 1x, assets/images/home/file-1453_2@2x.png 2x">

    <div id="Group_5">
        <svg class="Rectangle_12">
            <rect id="Rectangle_12" rx="61" ry="61" x="0" y="0" width="412" height="266">
            </rect>
        </svg>
        <svg class="Rectangle_19">
            <rect id="Rectangle_19" rx="61" ry="61" x="0" y="0" width="412" height="266">
            </rect>
        </svg>
        <svg class="Rectangle_13">
            <rect id="Rectangle_13" rx="61" ry="61" x="0" y="0" width="412" height="266">
            </rect>
        </svg>
        <svg class="Rectangle_16">
            <rect id="Rectangle_16" rx="61" ry="61" x="0" y="0" width="412" height="266">
            </rect>
        </svg>
        <svg class="Rectangle_14">
            <rect id="Rectangle_14" rx="61" ry="61" x="0" y="0" width="412" height="266">
            </rect>
        </svg>
        <svg class="Rectangle_17">
            <rect id="Rectangle_17" rx="61" ry="61" x="0" y="0" width="412" height="266">
            </rect>
        </svg>
        <svg class="Rectangle_15">
            <rect id="Rectangle_15" rx="61" ry="61" x="0" y="0" width="412" height="266">
            </rect>
        </svg>
        <svg class="Rectangle_18">
            <rect id="Rectangle_18" rx="61" ry="61" x="0" y="0" width="412" height="266">
            </rect>
        </svg>
        <img id="Image_1" src="assets/images/home/Image_1.png" srcset="assets/images/home/Image_1.png 1x, assets/images/home/Image_1@2x.png 2x">

        <img id="Image_7" src="assets/images/home/Image_7.png" srcset="assets/images/home/Image_7.png 1x, assets/images/home/Image_7@2x.png 2x">

        <img id="Image_3" src="assets/images/home/Image_3.png" srcset="assets/images/home/Image_3.png 1x, assets/images/home/Image_3@2x.png 2x">

        <img id="Image_9" src="assets/images/home/Image_9.png" srcset="assets/images/home/Image_9.png 1x, assets/images/home/Image_9@2x.png 2x">

        <img id="Image_4" src="assets/images/home/Image_4.png" srcset="assets/images/home/Image_4.png 1x, assets/images/home/Image_4@2x.png 2x">

        <img id="Image_6" src="assets/images/home/Image_6.png" srcset="assets/images/home/Image_6.png 1x, assets/images/home/Image_6@2x.png 2x">

        <img id="Image_5" src="assets/images/home/Image_5.png" srcset="assets/images/home/Image_5.png 1x, assets/images/home/Image_5@2x.png 2x">

        <img id="Image_8" src="assets/images/home/Image_8.png" srcset="assets/images/home/Image_8.png 1x, assets/images/home/Image_8@2x.png 2x">

    </div>
    <img id="zyro-image_3_kopya_cd" src="assets/images/home/zyro-image_3_kopya_cd.png"
        srcset="assets/images/home/zyro-image_3_kopya_cd.png 1x, assets/images/home/zyro-image_3_kopya_cd@2x.png 2x">

    <div id="Hakkmzda_ce">
        <span>Hakkımızda</span>
    </div>
    <div id="ye_Ol">
        <span>Üye Ol</span>
    </div>
    <div id="Kurye_Ol_cg">
        <span>Kurye Ol</span>
    </div>
    <div id="Telefon_0312_231_02_22">
        <span>Telefon: (0312) 231 02 22</span>
    </div>
    <div id="infotek-cozumcom">
        <span>info@tek-cozum.com</span>
    </div>
    <div id="Kurye_Hizmeti_Al_cj">
        <span>Kurye Hizmeti Al</span>
    </div>
    <div id="Gizlilik_Politikas">
        <span>Gizlilik Politikası</span>
    </div>
    <div id="Aydnlatma_Metni">
        <span>Aydınlatma Metni</span>
    </div>
    <div id="Adres_Maltepe_zveren_Sk_No27_0">
        <span>Adres: Maltepe, Özveren Sk.<br />No:27, 06570 Çankaya/Ankara</span>
    </div>
    <div id="Hizmetlerimiz_cn">
        <span>Hizmetlerimiz</span>
    </div>
    <div id="Referaslar">
        <span>Referaslar</span>
    </div>
</div>